/* General Styles */
body {
    font-family: 'EB Garamond', serif;
}

/* General Styles for the page container */
.page-container {
    max-width: 1400px; /* Increased size for a larger container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 15px; /* Optional: Add padding to the sides */
}

/* Container for the carousel and text content */
.carousel-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 15px;
}

/* Carousel container styles */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1400px; /* Increased size for the carousel container */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden;
}

/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    height: auto; /* Adjust height as needed */
    overflow: hidden;
}

/* Carousel slides container */
.carousel-slides {
    display: flex;
    width: 100%;
}

/* Carousel slide */
.carousel-slide {
    flex: 1;
}

.carousel-slide img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    object-fit: cover; /* Ensure the image covers the container without repeating */
    box-shadow: none;
}

/* Text content positioning */
.text-content {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 10; /* Ensures text is on top of the carousel */
    color: #000; /* Adjust text color for contrast */
    margin: 20px;
}

/* Carousel item styles */
.carousel-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the container */
}

/* Heading and subheading styles */
.heading {
    font-size: 2em; /* Adjust size as needed */
    margin: 0;
    padding-top: 90px;
    padding-left: 20px;
}

.subheading {
    font-size: 1.3em; /* Adjust size as needed */
    margin: 0;
    padding-top: 90px;
    padding-left: 20px;
}

.shop-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Adjust background color */
    color: #fff; /* Adjust text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    margin-top: 50px;
    margin-left: 20px;
    transition: text-decoration 0.3s;    
}

.shop-now:hover {
    text-decoration: underline;
    color: #fff;
}
